body, html {
  font-family: 'Raleway', sans-serif;
  background: rgba(216, 200, 200, 0.60);
  margin:0;
  padding:0;
  }
* {
  box-sizing: border-box
}

/* Modal start */
/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal1-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  margin-left: 180px;
  padding: 15px;
  padding-top: 40px;
  padding-left: 100px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal2-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  margin-left: 180px;
  padding: 15px;
  padding-top: 40px;
  padding-left: 100px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close1 {
  color: #F70909;
  float: right;
  font-size: 100px;
  font-weight: 80px;
}
.close2 {
  color: #F70909;
  float: right;
  font-size: 100px;
  font-weight: 80px;
}
#myBtn1 {
  height: 30px;
  width: 200px;
  align-self: center;
  background-color: #31b0d5;
}
#myBtn1:hover {
  color: red;
  background-color: yellow;
}
#myBtn2 {
  height: 30px;
  width: 200px;
  align-self: center;
  background-color: #31b0d5;
}
#myBtn2:hover {
  color: red;
  background-color: yellow;
}
.close1:hover,
.close2:hover,
.close1:focus,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal End */
/*NAVBAR*/
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    width: 100%;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.navbar {
  position: fixed;
  z-index: 4;
}
/* Basic Styles */
body {
  background-color: #ece8e5;
}
nav {
	height: 30px;
	width: 100%;
	background: #455868;
	font-size: 10pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
  position: relative;
  margin-top: -5px;
  padding-top: 5px;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
  height: 30px;
  margin-top: -5px;
  padding-top: 5px;
}
nav li {
	display: inline;
  float: left;
  text-align: center;
  width: 143.9px;
  margin-top: -5px;
  padding-top: 5px;
}
nav a {
	color: #fff;
	display: inline-block;
	width: auto;
	text-align: center;
  text-decoration: none;
}
nav li a {
	/* border-right: 1px solid #576979; */
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #8c99a4;
}
nav a#pull {
  display: none;
 
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: center;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 480px;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}

/*JUMBOTRON*/
.jumbotron {
  height: 100vh; /*height to 100% of view height*/
  background-image: url(images/awning.jpg);
  width: 100%;
   /* background: #31b0d5; background color to blue */
  margin-bottom: 0; /*no bottom margin*/
  display: flex;
  flex-direction: column;
}
.spacer {
  height: 250px;
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 300;
  font-size: 2em;
  color: #811C1D;
  text-align: center;
  padding-top: 150px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 650;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 50px;
}

.jumbotron-text p {
  margin: 0;
}

/* Slider */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

html {
  border-top: 5px solid #fff;
  background: #CCE5ff;
  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

h1 {
  color: #811C1D;
  text-align: center;
  font-weight: 800;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 800px;
  height: 600px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: none;
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: 800;
  font-size: 55px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option :hover {
  background-color: yellow;
  color: red;
}

.slider_option {
  position: relative;
  margin: 20px auto;
  padding-left: 110px;
  width: 300px;
  font-size: 20px;
  font-weight: 600;
  color: #811C1D;
}


/* Clock Image */
.round {
  align-self: auto;
  width: 250px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: #312F2F solid 3px;
}

.clock {
  font-family: Raleway;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #f9f9f9;
  position: absolute;
  top: 225px;
  left: 80px;
  width: 62px;
}
.rings {
  position: relative;
  width: 500px;
  margin: 100px auto;
  align-items: center;
  margin-left: 380px;
}
.rings .h {
  position: absolute;
  left: -90px;
  top: 10px
}
.rings .m {
  position: absolute;
  left: -28px;
  top: 73px
}
.rings .s {
  position: absolute;
  left: 46px;
  top: 146px
}
.demo {
  background: #6DF265;
  height: 500px;
  width: 100%;
  -webkit-border-radius: 300px 300px;
  align-self: center;
  margin-bottom: 130px;
  padding-top: 0;
}
input {
  display: none;
}
/* eiffel tower */
#wrapper{
  position: relative;
  width:100%;
  min-height:55vw;
  overflow: hidden;
}

.layer{
  position: absolute;
  width:100vw;
  min-height: 55vw;
  overflow: hidden;
}

.layer .content-wrap{
  position: absolute;
  width:100vw;
  min-height: 55vw;
}

.layer .content-body{
  width:25%;
  position:absolute;
  top:50%;
  text-align: center;
  transform:translateY(-50%);
  color:#fff;
}

.layer img{
  position: absolute;
  border-radius: 50%;
  width:25%;
  height: 70%;
  top:50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.layer h1{
  font-size:2em;
}

.bottom{
  background:#222;
  z-index:1;
}

.bottom .content-body{
  right:5%;
}

.bottom h1{
  color:#FDAB00;
}

.top{
  background:#eee;
  color:#222;
  z-index:2;
  width:50vw;
}

.top .content-body{
  left: 5%;
  color:#222;
}

.handle{
  position: absolute;
  height: 100%;
  display: block;
  background-color: #FDAB00;
  width:5px;
  top:0;
  left: 50%;
  z-index:3;
}

.skewed .handle{
  top:50%;
  transform:rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin:top;
}

.skewed .top{
  transform: skew(-30deg);
  margin-left:-1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap{
  transform: skew(30deg);
  margin-left:1000px;
}

/* @media(max-width:768px){
  body{
    font-size:75%;
  }
} */

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: #149ACB;
  padding: 20px;
}

/*ARROW LINK*/
#down-arrow {
  /*position: absolute;
  width: 100%;*/
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: #BC1416;
}

/*CONTENT*/
.container {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
}

.row {
  display: flex;
}

.white {
  background: white;
}

.side-content {
  flex: 0 0 16.6%;
}

.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.side-content-sm {
  flex: 0 0 10%;
}

.main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
  color: #028BB3;
  text-transform: uppercase;
  text-align: center;
}

.content-body {
  line-height: 1.5;
  color: rgba(0,0,0,.75);
  text-align: left;
  font-weight: 500;
}

/*EDUCATION*/
.card {
  display: flex;
  flex-direction: column;
  background-color: #E9F7FD;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 30px;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: #57D2FF;
  border-bottom: 1px solid rgba(0,0,0,.075);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.card-content {
  padding: .25rem 1.25rem;
  flex: 1 1 auto;
}

h4 {
  margin: 0;
  font-weight: 600;
  color: #3A3636;
}

.job-title {
  float: right;
}

/*PROJECTS*/
.project-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
  height: 250px;
  width: 100%;
}

.project-image {
  flex: 1 100%;
}

.project-image img {
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-content {
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: pink;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.project-content a {
  align-self: center;
}

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: black;
  background: #31b0d5;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

/*CONTACT*/
.blue {
  background: #57D2FF;
  text-align: center;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.white-text {
  color: black;
  font-weight: 500;
  background-color: #E9F7FD;
  width: 300px;
  align-items: center;
  margin-left: 205px;
}

